# OS files
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.local-dev/

# Environment files
.env
.env.*
.env.local
!.env.example
!**/.env.example

# Dependencies
node_modules/
pnpm-store/

# Build output
dist/
build/
coverage/
.turbo/
.next/
.vercel/
*.tsbuildinfo
